.SlotOnHover {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: grid;
    /* justify-items: end; */
    grid-template-areas: 
    "StartTime . Buttons"
    "Task Task Task"
    "Project Project Project"
    ". . EndTime";
}

.SlotOnDelete {
    
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: grid;
    /* justify-items: end; */
    grid-template-areas: 
    "StartTime . Buttons"
    "DeleteConfirmation DeleteConfirmation DeleteConfirmation"
    "Task Task Task"
    "Project Project Project"
    ". . EndTime";
}

.Slot {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: grid;
    /* justify-items: end; */
    grid-template-areas: 
    "StartTime . ."
    "Task Task Task"
    ". . EndTime";
}

.DeleteConfirmation {
    grid-area: DeleteConfirmation;
    background-color: #47f78c80;
    color: black;
}

.Slot > * {
    padding: 0px;
    margin: 0px;
}

.StartTime {
    grid-area: StartTime;
}

.EndTime {
    grid-area: EndTime;
}

.Buttons {
    grid-area: Buttons;
    justify-self: end;
}

.Task {
    grid-area: Task;
}

.Agenda {
    grid-area: Agenda;
}

.Objective {
    grid-area: Objective;
}

.Project {
    grid-area: Project;
}


.Buttons button {
    padding: 0px;
    margin: 0px;
}


.DeleteButton {
    background: transparent;
    border: 1px solid #f00;
    border-radius: 2em;
    color: #f00;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 2px;
    margin: 0 0 8px;
    padding: 0;
    text-align: center;
    width: 20px;
    }

.Trash {
    color: red;
    margin: 3px 3px;
}

.Trash:hover {
    color: blue;
}

